{% extends 'base.html' %}
{% block content %}
<table cellpadding="10" border="1">
<thead><tr><td>Name</td><td>Email</td><td>position</td><td>phoneno</td><td><button <a href="{%url "index"%}">Add</a></button></td></tr>
{% for employee in employees%}
<tr>
<td>
{{employee.name}}
</td>
<td>{{employee.email}}</td>
<td>
{{employee.position}}
</td>
<td>{{employee.contactNo}}</td>
<td><a href="{%url "employee_update" employee.id%}">edit</a>|<a href="{%url "employee_delete" employee.id %}">delete</a></td>
</tr>
{% endfor %}
</table>
{% endblock content %}